/* Created by: Ryan Duffett
* Created on: Sep 2020
* This file contains the CSS for index.html
*/
.mdl-layout__header-row {
  align-items: center;
  justify-content: center;
}

.mdl-layout__content {
  padding-left: 15pt;
  padding-right: 15pt;
}

/* Due to error in MDL : https://github.com/google/material-design-lite/issues/5281
*/
.mdl-ripple {
  background: #000;
  opacity: 0.001;
}

body {
  background-color: rgb(225 218 172);
}

p {
  color: rgb(0 0 0);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  padding-top: 5pt;
}

h2 {
  font-family: Helvetica, Arial, sans-serif;
}

h3 {
  font-family: Helvetica, Arial, sans-serif;
}

img {
  max-width: 250px;
  height: 220px;
  float: right;
  margin-top: 20px;
  margin-bottom: 250px;
  margin-right: 100px;
}